.DocSearch-Button {
  color: var(--docsearch-muted-color);
  border-color: var(--rp-c-divider-light, #d1d1d1);
  background-color: var(--docsearch-search-button-background);
  background-color: color-mix(
    in srgb,
    var(--docsearch-search-button-background) 30%,
    transparent
  );
}
